﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ListItemsCount.ascx.cs" Inherits="SpiritucSI.UserControls.GenericControls.ListItemsCount" %>
<asp:Label ID="C_lbl_Info" runat="server" meta:resourcekey="C_lbl_InfoResource1"></asp:Label>