﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucDashboardManager.ascx.cs" Inherits="UserControls_ucDashboardManager" %>
<asp:PlaceHolder ID = "DashCnt" runat ="server" ></asp:PlaceHolder>
