﻿/* ######### Helper ############### */
.Helper { float:left; cursor:help; padding-top:2px }
.HelperContent { display:none; position:absolute; top:12px; right:12px; background-color:White; border:solid 1px #666666; min-width:170px; max-width:190px; padding:5px 5px 5px 10px; color:#333333;  }
.HelperContent span { font-size:10px }