﻿.mkt_lft { float:left; width:475px; }
.mkt_rgh { float:right; padding-left:15px; border-left:solid 1px #999999; height:215px; width:415px;   }
.fs_seltmpl { border:solid 1px #999999; margin-bottom:10px; width:783px; }
.rw_btn_lft { padding-top:10px; float:left }
.rw_btn_rgt { padding-top:10px; float:right }
.mk_chklist td input { position:relative; top:2px; }
.mk_chklist td label { padding-left: 3px; font-size:10px }