﻿.MenuTab { float:left; height:20px; padding:0px; position:relative; }
.MenuTab .OffLeft { float:left; background-image:url(images/otherTab_left.gif); width:9px; height:20px; }
.MenuTab .OffCenter { float:left; background-image:url(images/otherTab_middle.gif); height:20px; padding:0px 5px 0px 5px; }
.MenuTab .OffRight { float:left; background-image:url(images/otherTab_right.gif); width:8px; height:20px; }
.MenuTab .OffCenter div { padding:3px 0px 0px 0px; }
.MenuTab .OnLeft { float:left; background-image:url(images/currentTab_left.gif); width:9px; height:20px; }
.MenuTab .OnCenter { float:left; background-image:url(images/currentTab_middle.gif); height:20px; padding:0px 5px 0px 5px; }
.MenuTab .OnRight { float:left; background-image:url(images/currentTab_right.gif); width:8px; height:20px; }
.MenuTab .OnCenter div { padding:3px 0px 0px 0px; }
.MenuTab a { font-family:Arial; font-size:11px; font-weight:bold; text-decoration:none; }
.MenuTab div { font-family:Arial; font-size:11px; font-weight:bold; text-decoration:none; }
.MenuTab .SubMenu { position:absolute; top:-1px; padding:0px; width:100px; background-color:#EFEFEF; border-bottom:1px solid #787878; border-left:1px solid #787878; border-right:1px solid #787878; color:#FFFFFF; font-size:11px; }
.MenuTab .SubMenuTD { background-color: #FFFFFF; cursor:auto; border-bottom:1px solid #EDEDED; color:#FFFFFF; font-size:11px; padding-bottom:2px; padding-top:1px; }
.MenuTab .SubMenuTD a { font-family:Arial; font-weight:normal; font-size:11px; text-decoration:none; }
.MenuTab .SubMenuTD:hover { background-color: #e2e0e0; cursor:pointer; }
.MenuTab .SubMenuTDSel { background-color: #F1F1F1; }
.MenuTab .SubMenuTDSel:hover { background-color: #e2e0e0; }