﻿.fs_cp { float:left; width:500px; border:solid 1px #999999; margin-bottom:10px }
.lg_cp { font-weight:bold; font-size:11px; padding:0px 10px 0px 10px;  }
.lbl_d_cp { padding-right:5px; width:150px; text-align:right; padding-top:1px; float:left }
.txt_d_cp { float:left; padding-left:3px; width:155px; position:relative; }
.unt_d_cp { float:left; padding:2px 0px 0px 5px; max-width:82px }
.unt_d_cp span { font-size:10px }
.val_d_cp { float:left; padding:1px 0px 0px 5px; }
.txt_d_cp input[type=checkbox] { padding-right: 5px; position:absolute; }
.txt_d_cp label { padding-left:20px; padding-top:4px; font-family:Arial; font-size:10px; }