﻿/* Tooltip */
#tt {position:absolute; display:block; z-index:200 }
#ttcont { text-align:left; border:solid 1px #666666; max-width:200px; background-color:#ffffff; display:block; padding:2px 12px 3px 7px; margin-left:4px; background-repeat:repeat; color:#444444; font-family:Trebuchet MS; font-size:10px; font-weight:bold;}