﻿/* ############## ucLogin.ascx ###################*/

#login-border{ width:610px; margin:0 auto; border: solid 1px #999999}
#login{width:600px; padding:5px; left:0px; }
#login-title{width:600px; background-color:#ACACAC; text-align:center; padding-top:3px; padding-bottom:3px; color:#ffffff}
.lblTitle { color:#ffffff; font-weight:bold; }
#login-subtitle{padding:2px; text-align:center; color:Black; font-style:italic;}
#login-form{padding:5px}
#Textbox-position{float:left; padding-left:10px; padding-top:7px;}
#label-position{float:left;padding:10px 0px 0px 0px; text-align:right; width:225px}
#remember-login{padding:10px 0px 0px 237px;}
#Login-button{text-align:right; padding:1px 0px 0px 0px; width:455px;}
#login-info{text-align:right; width:460px;padding:5px}
#Failure-login{float:left; width:457px; padding:0px 0px 0px 0px;color:red; text-align: right;}
/*.SubContentCenter { float: left; border: 1px solid #ACACAC; width: 960px; background-color: #EFEFEF; padding: 5px; }
.SubContentCenterForm { float: left; border: 1px solid #ACACAC; width: 948px; background-color: #FFFFFF; padding: 5px; background-image: url(images/emptyTabSpace.gif); background-position:top; background-repeat:no-repeat; }*/
