	/* Left */
	.ob_iTL
	{
		position: absolute;
    	font-size: 1px;
    	height: 17px;
    	width: 4px;
    	left: 0px;
    	background-image: url(images/textbox.png);
	}
	
	* HTML .ob_iTL
	{
	    background-image: url(images/textbox.gif);
	}
	
	/* Content */
	.ob_iTC
	{
		height: 17px;
		line-height: 17px;
		margin-left: 4px;
		margin-right: 4px;
		position: relative;
		background-image: url(images/textbox.png);
	}
	
	* HTML .ob_iTC
	{
	    background-image: url(images/textbox.gif);
	}
	
	/* Right */
	.ob_iTR
	{
		position: absolute;    	
    	font-size: 1px;
    	height: 17px;
		width: 4px;
		right: 0px;
		background-image: url(images/textbox.png);
	}
	
	* HTML .ob_iTR
	{
	    background-image: url(images/textbox.gif);
	}
	
	/* Input Element */
	.ob_iTIE
	{
		width: 100% !important;
		position: absolute;
		left: 0px;
		right: 0px;
		top:0px;
		display: block;
    	background-color: transparent;
    	border: 0px;
    	margin: 0px;
    	padding: 0px;    	
    	margin-top: 2px;
    	font-family: Verdana;
		font-size: 10px;
		color: #4B555E;
		height: 14px;
		outline: 0;
		border:none !important;
	}
	
	.ob_iTCIC
	{
		display: none;
	}
	
	
	
	
	
	/* Normal State - container */
	.ob_iTCN
	{
    	position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* Normal State - left */
	.ob_iTCN .ob_iTL
	{
		background-position: 0px 0px;
	}
	
	/* Normal State - content */
	.ob_iTCN .ob_iTC
	{
		background-position: 0px -68px;
	}
		
	/* Normal State - right */
	.ob_iTCN .ob_iTR
	{
		background-position: -4px 0px;
	}
	
	
	
	
	/* Over State - container */
	.ob_iTCO
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* Over State - left */
	.ob_iTCO .ob_iTL
	{
		background-position: 0px -17px;
	}
	
	/* Over State - content */
	.ob_iTCO .ob_iTC
	{
		background-position: 0px -85px;
	}
	
	/* Over State - right */
	.ob_iTCO .ob_iTR
	{
		background-position: -4px -17px;
	}
	
	
	
	
	
	/* Active State - container */
	.ob_iTCA
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;

        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* Active State - left */
	.ob_iTCA .ob_iTL
	{
		background-position: 0px -34px;
	}
	
	/* Active State - content */
	.ob_iTCA .ob_iTC
	{
		background-position: 0px -102px;
	}
	
	/* Active State - right */
	.ob_iTCA .ob_iTR
	{
		background-position: -4px -34px;
	}
	
	
	
	
	
	/* Disabled State - container */
	.ob_iTCD
	{
		position: relative;
        display:-moz-inline-stack;
        display:inline-block;
        height: 17px;
        font-size: 10px;
    	padding: 0px;
    	text-align: center;
	}
	
	/* Disabled State - left */
	.ob_iTCD .ob_iTL
	{
		background-position: 0px -51px;
	}
	
	/* Disabled State - content */
	.ob_iTCD .ob_iTC
	{
		background-position: 0px -119px;
	}
	
	/* Disabled State - right */
	.ob_iTCD .ob_iTR
	{
		background-position: -4px -51px;
	}