﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Masters/FrontOffice.Master" AutoEventWireup="true" CodeBehind="PoolManager.aspx.cs" Inherits="SpiritucSI.BPN.AII.WebSite.IndividualImparity.PoolManager" Theme="MainTheme" %>
<%@ Register Src="~/IndividualImparity/userControls/ucPoolManager.ascx" TagName="ucPoolManager" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContentPlaceHolder" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" runat="server">
    <uc1:ucPoolManager ID="ucPoolManager" runat="server"></uc1:ucPoolManager>
</asp:Content>
