﻿/** { margin: 0px; padding: 0px; font-family: Arial; font-size: 11px; color: #444444; }
* a { font-family: Arial; font-size: 11px; color: #444444; text-decoration: none; cursor: pointer; }
* a:link, a:visited { color: #444444; font-size: 11px; text-decoration: none; }
* a:hover { color: #666666; text-decoration: none; }
* span { margin: 0px; padding: 0px; font-family: Arial; font-size: 11px; color: #444444; }
html { overflow: -moz-scrollbars-vertical; overflow-y:scroll; }
body { margin: 0px; width: 100%; font-family: Verdana; font-size: 10px; text-align:center; }
h2 { color:#c61616; text-decoration:none; font-family: Arial, Verdana, Helvetica, sans-serif; font-size:18px; font-weight: bold; margin-bottom: 0px; margin-top: 0px; }
h3 { color:#666666; text-decoration:none; font-family: Arial, Verdana, Helvetica, sans-serif; font-size:16px; font-weight: bold; margin-bottom: 4px; }
*/
#progressBackgroundFilter { position:fixed; top:0px; bottom:0px; left:0px; right:0px; overflow:hidden; padding:0px; margin:0px; background-color:#3a3a3a; -ms-filter:alpha(opacity=60); -ms-opacity:0.6; filter:alpha(opacity=60); opacity:0.6; width:100%; height:100%; z-index:21; }
#progressBackgroundFilter div { margin:0px auto; width:100%; text-align:center; overflow:hidden; position:absolute; background-color:#3a3a3a; top:50px; -ms-filter:alpha(opacity=60); -ms-opacity:0.6; filter:alpha(opacity=60); opacity:0.6; }

.ResponseMsgPanelWrapper { position:fixed; z-index:20; top:20px; width:100%; padding:0px; z-index:1; }
.ResponseMsgPanel { margin:0px auto; overflow:hidden; text-align:center; width:700px; height:42px; font-family:Verdana; font-size:11px; padding:10px; font-weight:bold; z-index:20; background-color:#FFFFFF; }
.InfoMessage { border:solid 3px #000099; }
.InfoMessage span { color:#000099;  }
.SuccessMessage { border:solid 3px #008000; }
.SuccessMessage span { color:#008000; }
.WarningMessage { border:solid 3px #FF6600; }
.WarningMessage span { color:#FF6600; }
.ErrorMessage { border:solid 3px #FF0000; }
.ErrorMessage span { color:#FF0000; }


textarea { font-family: Arial, Verdana, Helvetica, sans-serif; border: 1px solid #888888; font-size: 11px; background-color: #ffffff; }
textarea.active { font-family: Arial, Verdana, Helvetica, sans-serif; border: 3px solid #888888; font-size: 11px; background-color: #ffffff; }

hr { height:1px; border:solid 1px #ACACAC; }
legend { font-size:12px; color:#444444; text-decoration:none; font-weight: bold; }
/*fieldset { border-top:none; border-bottom:none; border-right:none; border-left:none; padding:5px 10px 10px 10px; width:910px; }
input[type=text] { border: 1px solid #999999; text-align:center; font-size: 11px; padding-left: 2px; padding-right: 2px; width:auto; }
input[type=password] { border: 1px solid #999999; font-size: 11px; padding-left: 2px; padding-right: 2px; width:auto; }
input[type="submit"]  {background-color:#FFFFFF;background-image:url("images/formButtonBg.gif");background-position:center bottom;background-repeat:repeat-x;border:1px solid #444444;color:#444444;cursor:pointer;font-size:11px;font-weight:normal;height:17px;padding:0 5px;}
select { border: 1px solid #999999; font-size: 11px; padding:0px; }
span.checkbox input { border: 0px; background-color: transparent; margin: 0px; vertical-align: bottom; }
.checkbox, .radio { border: 0px; background-color: transparent; margin: 0px; vertical-align: bottom; }*/
.fieldset2Cols { border-top:none; border-bottom:none; border-right:none; border-left:none; padding:5px 10px 10px 0px; width:450px; }
.fieldsetWorkflow { padding:5px 10px 10px 10px; width:910px; border:solid 1px #ACACAC;}
.mk_chklist span input { position:relative; top:2px; }
.mk_chklist span label { padding-left: 3px; font-size:10px }

.Header { margin: 0px; width: 100%; height: 56px; text-align:left; position: absolute; left: 0px; top: 0px;}
.HeaderContent { margin: 0px auto; width: 1000px; padding: 10px 0px 10px 0px; }
.HeaderContent2 { width: 100%; height: 20px; background-image: url(images/emptyTabSpace.gif); }
.HeaderContent2 .HeaderMenu { margin: 0px auto; width: 1000px; }
.HeaderContent2 .HeaderMenu .DivFloatRight { float: right; height: 20px; }
.HeaderContent2 .HeaderMenu .DivFloatLeft { float: left; height: 20px; }
.HeaderContent3 { float:left; width: 100%; height: 21px; background-color: #ACACAC; border-bottom: 1px solid #000000; }
.HeaderContent3 .LabelLogin { margin:0px auto; color:#FFFFFF; font-size:11px; font-weight:bold; height:18px; padding:4px 0px 0px 10px; width:1000px; }
.MainContent1 { margin: 0px auto; width: 1000px; padding: 10px 0px 10px 0px; }
#FooterVersionLeft{float:left; width:250px;}
#FooterVersionRight{float:right;width:250px;text-align:right;}

.MainContent1 .Title { float: left; width: 100%; border-bottom: solid 1px #AAAAAA; padding-top:10px; }
.MainContent1 .Title div { float: left; }
.MainContent1 .Title .Img { width: 18px; height: 15px; padding: 4px; }

.MainContent1 .SubTitle { float: left; width: 100%; padding: 15px 0px 0px 0px; }
.MainContent1 .SubTitle a { text-decoration:none; }
.MainContent1 .SubTitle a div { float:left; text-decoration:none; cursor:pointer; }
.MainContent1 .SubTitle .Img { width: 16px; height: 16px; padding:2px; }

.MainContent1 .SubContentWrapper { float: left; padding: 10px 0px 0px 20px; width: 980px; }
.MainContent1 .SubContentWrapper div { float: left; }

.TblLogin { border:1px solid #ACACAC; width:260px; background-color: #EFEFEF; margin:0px auto; }
.TblLogin tr { border:1px solid #ACACAC; }
.TblLogin tr td { padding:15px; }
.TblLogin tr td div { padding:3px; }

.SubContentCenter {  border: 1px solid #ACACAC; clear:both; width:1000px; background-color: #EFEFEF; padding-bottom: 5px; padding-left:5px; padding-right:5px; }
.SubContentCenterForm { float: left; border: 1px solid #ACACAC; width: 1048px; background-color: #FFFFFF; padding: 5px; background-image: url(images/emptyTabSpace.gif); background-position:top; background-repeat:no-repeat; }

.GridView { width:960px; border: 1px #ACACAC solid; overflow:auto;}
.GridViewInternal { width:820px; border: 1px #ACACAC solid; }
.GridViewHeader { font-size: 14px; background-color: #F1F1F1; padding: 5px; }
.GridViewHeader th { padding: 2px 5px 4px; }
.GridViewRow { font-size: 14px; color: #000000; background-color: #FDFDFD; }
.GridViewRow:hover { background-color: #e2e0e0; }
.GridViewRow td { padding: 2px 5px 4px; overflow:auto; }
.GridViewAlternatingRow { font-size: 11px; background-color: #F1F1F1; }
.GridViewAlternatingRow:hover { background-color: #e2e0e0; }
.GridViewAlternatingRow td { padding: 2px 5px 4px; }
.GridViewSelectedRow { font-size: 11px; background-color: #F1F1F1; background-color: #e2e0e0; }
.GridViewSelectedRow td { padding: 2px 5px 4px; }
.GridViewHyperLink { width: 1%; }
.GridViewHyperLink a, .GridViewHyperLink a:visited { font-size: 11px; color: #002780; text-decoration: none; }
.GridViewHyperLink a:hover { text-decoration: underline; }
.GridViewHyperLinkDelete { width: 1%; }
.GridViewHyperLinkDelete a, .GridViewHyperLinkDelete a:visited { font-size: 11px; color: #002780; text-decoration: none; }
.GridViewHyperLinkDelete a:hover { text-decoration: underline; }
a.GridViewHyperLinkTemplate, a.GridViewHyperLinkTemplate:visited { font-size: 11px; color: #002780; text-decoration: none; }
a.GridViewHyperLinkTemplate:hover { text-decoration: underline; }


.DataRow { float:left; width:auto; padding:2px 2px 2px 2px; }
.DataCell { float:left; width:auto; }
.DataLabel { float:right; text-align: right; height: 14px; width: 110px; padding: 1px 4px 0px 0px; }
.DataField { float:left; width:295px; }
.DataLabel3Cols { float: right; text-align: right; height: 14px; width:90px; padding: 1px 4px 0px 0px; }
.DataField3Cols { float:left; width:200px; font-weight:bold; }
.DataLabel2Cols { float: left; text-align: left; height: 14px; width:150px; padding: 1px 4px 0px 20px; }
.DataField2Cols { float:left; width:200px; }
.DataRowButton { float:left; width:auto; padding:10px 0px 0px 0px; }

.modalBackground { background-color:#3a3a3a; -ms-filter:alpha(opacity=60); -ms-opacity:0.6; filter:alpha(opacity=60); opacity:0.6; width:100%; height:100%; }
.modalPopup { float: left; border: 1px solid #ACACAC; background-color:#EFEFEF; width: 850px;  padding: 5px; }
.modalPopupFieldset { border-top:none; border-bottom:none; border-right:none; border-left:none; padding:5px 10px 10px 10px; width:810px; }
.modalPopupDataLabel { float:left; text-align: right; height: 14px; width: 110px; padding: 1px 4px 0px 0px; }
.modalPopupDataField { float:left; text-align: left; width:280px; }
.modalPopupDivSroll { max-height:280px; width:837px; overflow-y:auto; }

.TableCreateUserWizard{ width:320px; text-align:left; float:left; }

.divLogo {width: 70px; height: 70px; float: left;}
.sloganTitleDiv{width: 300px; height: 50px; float: left; margin-top: 20px; margin-left: 20px;}
.sloganTitle{font-size:16px; font-weight:bold;}
.sloganSubTitle{font-size:12px; font-weight:bold;}
.MainContent2{margin:0 auto;padding:5px 0;width:1000px;}
.padBottom{float:left; width:100%;}
.PadTop{float:left; width:100%; padding-top:5px;}
.lblBoldHidd{font-size:12px; font-weight:bold; visibility:hidden;}
.lblBold{ font-size:12px; font-weight:bold;}
.txtCenter{text-align:center;}
.txtLeft{text-align:left;}
.clientInfo{float:left; width:400px; clear:left;}
.itemTable{border-bottom: solid 1px; width:100px;}
.impValue{float:right; width: 145px;}
.itemTableSmall{border-bottom: solid 1px;width:40px;}
.TitleDiv{padding-top:20px; clear: both;width:800px;}
.TitleTxt{font-size:12px; font-weight:bold; text-align: left;}
.btnSaveDiv{float:right; width: 120px; clear: left; padding-top: 10px;}
.questionDiv{float:left;width:800px;}
.padLabel{ width:150px; float:left;}
.padLabel1{ width:70px; float:left;}
.padBottom {float:left; padding-bottom:10px;}

.ValidationSummary { font-size:12px; font-weight:bold; }
.ValidationSummary ul { padding:10px 0 0 20px; list-style:none; }
.ValidationSummary ul li { font-size:10px; font-weight:normal; color:Red; font-style:italic; }

.Row{float:left; width:100%; padding-bottom:5px; }
h3 { color:#666666; text-decoration:none; font-family: Arial, Verdana, Helvetica, sans-serif; font-size:16px; font-weight: bold; margin-bottom: 4px; }

.MainContent1 .SubTitle { float: left; width: 100%; padding: 15px 0px 0px 0px; }
.MainContent1 .SubTitle a { text-decoration:none; }
.MainContent1 .SubTitle a div { float:left; text-decoration:none; cursor:pointer; }
.MainContent1 .SubTitle .Img { width: 16px; height: 16px; padding:2px; float:left }

.btnLeft{float:left; padding-right:7px;}
.btnRight{float:right; padding-left:20px; }




