body
{
	text-align: center;
	color: Black; /*background-image:url(../../images/LogoWater1.gif);     background-repeat :repeat;     background-attachment:fixed;*/
}

body.Print
{
	text-align: left;
	background-image: none;
}
.box
{
	width: 1000px;
}
.button
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 9px;
	color: #0000AA;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}
.Menubutton
{
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #ACACAC;
	background-color: #ffffff;
	font-size: 11px;
	color: #444444;
	font-weight: normal;
	background-image: url(images/formButtonBg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.Menubutton:hover, .Menubutton:focus, .MenubuttonOn:focus
{
	cursor: pointer;
	border: 1px solid #ACACAC;
	background-color: #ffffff;
	font-size: 11px;
	color: #444444;
	font-weight: normal;
	background-image: url(images/formButtonBgOn.gif);
	background-repeat: repeat-x;
	background-position: top;
}
a.Menubutton
{
	text-decoration: none;
}

div.TreeView table td
{
	vertical-align: top;
}
.TreeNodeLines
{
	background-image: url(~/WebResource.axd?d=FVTCxainPqpp7e7RPkvwrsYqNNfr8xK0wtSRIHyA9Ro1&t=633836817456311370);
	background-position: left;
	background-repeat: repeat-y;
	font-size: 7px;
	border: none 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.LastTreeNodeLines
{
	background-image: url(~/WebResource.axd?d=FVTCxainPqpp7e7RPkvwrt2bleLk7x2p6qiLFmrd-5w1&t=633836817456311370);
	background-position: right;
	background-repeat: no-repeat;
	border: none 0px;
}
.TreeNode
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 9px;
	color: #0000AA;
	text-align: left;
}
td
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 9px;
}
th
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 9px;
	text-align: center;
}
.txtNormal
{
	font-family: Verdana;
	font-weight: normal;
	font-size: 9px;
}
.label
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 9px;
	text-align: right;
}
.errorLabel
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 11px;
	text-align: right;
	color: Red;
}
.errorField
{
	background-color: #FFCCCC;
	color: #AA0000;
}
.warningLabel
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 11px;
	text-align: right;
	color: #FF9900;
}
.ReadOnly
{
	color: #16204b;
	background-color: #DeDeF7;
	border: solid 1px #999999;
}
.textValidator
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 9px;
	color: Red;
}
.textbox
{
	font-family: Verdana;
	font-weight: normal;
	font-size: 9px;
}
.textboxBig
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	border: none;
}
.tituloMenu
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color: #000000;
}
.tituloListagem
{
	background-color: #99CCFF;
	font-family: Verdana;
	font-weight: bold;
	font-size: 9px;
	color: #00008B;
	text-align: center;
	text-decoration: none;
}
.tituloGrande
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
}
.titulo
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}
.titulo_peq
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
}
.table
{
	width: 100%;
	border: 0;
	padding: 5pt;
}
.ListRow
{
	background-color: #DeDeF7;
}
.ListRow:hover
{
	background-color: #99CCFF;
}
.PrintListRow
{
	border-bottom: dashed 1px #AAAAAA;
	font-size: 6pt;
}
.PrintListcolumn
{
	border-right: dashed 1px #DDDDDD;
}
.AlternateListRow
{
	/*background-color:#DeDeF7;*/
	background-color: #C0C0E0;
}
.AlternateListRow:hover
{
	background-color: #99CCFF;
}
.backColor
{
	background-color: #f0f0f0;
	background: #f0f0f0;
}
.tituloBarra
{
	background-color: #00008B;
	color: White;
}
.cell
{
	border-right: solid black 1px;
	border-top: solid black 1px;
	border-left: solid black 1px;
	border-bottom: solid black 1px;
	border-collapse: collapse;
}
.INSERTED_BACK
{
	background-color: #FFFF88;
}
.VALID_BACK
{
	background-color: #99FF99;
}
.IMPORTED_BACK
{
	background-color: #66ccff;
}
.TERMINATED_BACK
{
	background-color: #FF9999;
}
.INSERTED_FRONT
{
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	color: #FF9900;
}
.VALID_FRONT
{
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	color: Green;
}
.IMPORTED_FRONT
{
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	color: Blue;
}
.TERMINATED_FRONT
{
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
	color: Red;
}
.INSERTED_FRONT:hover
{
	font-weight: bold;
}
.VALID_FRONT:hover
{
	font-weight: bold;
}
.IMPORTED_FRONT:hover
{
	font-weight: bold;
}
.TERMINATED_FRONT:hover
{
	font-weight: bold;
}
.NORMAL_FRONT
{
	font-size: 14px;
	font-weight: bold;
}
#progressBackgroundFilter
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	width: 100%;
	height: 1000px;
	padding: 0;
	margin: 0;
	background-color: #000;
	filter: alpha(opacity=40);
	opacity: 0.4;
	z-index: 1000;
}
/* CALENDAR ######################### */
.calendar
{
	background-color: white;
	font-family: Tahoma;
	font-size: 8pt;
}

.calendar td
{
	font-family: Tahoma;
	font-size: 8pt;
	padding: 2px 2px 2px 2px;
}
.calendar table
{
	background-color: #9EBEF5;
}
.calendar tr td a
{
	text-decoration: none;
}

.calendar td a
{
	text-decoration: none;
}

.calendar td.today a
{
	border: solid 1px red;
}

.calendar td.selected
{
	background-color: #FBE694;
}

