﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="zTESTE.aspx.cs" Inherits="zTESTE" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <UC:DatePicker DisplayMode="TextBox"  SelectionMode="None" runat="server" ID="dlada" Visible="true" />
    </div>
    <asp:Calendar ID="Calendar1" runat="server"></asp:Calendar>
    </form>
</body>
</html>
