﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Masters/FrontOffice.Master" 
CodeBehind="StartWorkflows.aspx.cs" Inherits="SpiritucSI.BPN.AII.WebSite.Admin.StartWorkflows" %>
<%@ Register src="../UserControls/Workflows/StartWorkflow.ascx" tagname="StartWorkflow" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContentPlaceHolder" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContentPlaceHolder" runat="server">
    <uc1:StartWorkflow ID="StartWorkflow1" runat="server" />
</asp:Content>