﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="newWorkflow.ascx.cs"
    Inherits="Web_BPN_Analysis.newWorkflow" %>
<%@ Register Src="WebUserControl.ascx" TagName="WebUserControl" TagPrefix="uc1" %>
<asp:GridView ID="GridView1" runat="server" AllowPaging="false" 
    onsorting="GridView1_Sorting">
    <Columns>
        <asp:HyperLinkField Text="Ver" DataNavigateUrlFields="WorkflowInstanceId"
            DataNavigateUrlFormatString="viewworkflow.aspx?id={0}" />
    </Columns>
</asp:GridView>
<asp:Button ID="Button1" runat="server" Text="Criar Novo" OnClick="Button1_Click" />