﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ViewWorkflow.ascx.cs" Inherits="Web_BPN_Analysis.ViewWorkflow" %>
<%@ Register src="WebUserControl.ascx" tagname="WebUserControl" tagprefix="uc1" %>
<uc1:WebUserControl ID="WebUserControl1" runat="server" />
