﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="WebUserControl.ascx.cs"
    Inherits="Web_BPN_Analysis.WebUserControl" %>
Estado actual:
<asp:Label ID="StateName" runat="server" Font-Bold="true"></asp:Label>
<br />
<br />
<asp:Repeater ID="RepeaterWFActions" runat="server" 
    onitemcommand="C_Rpt_WFActions_ItemCommand" 
    onitemdatabound="C_Rpt_WFActions_ItemDataBound">
    <ItemTemplate><asp:Button ID="ButtonWFAction" runat="server"  CommandName="WFActionClick"/></ItemTemplate>
</asp:Repeater>
