body
{
	text-align:center;
	color:Black;
}
.box
{
	width:730px;	
}
.button
{
	font-family:Verdana;
	font-weight:bold;
	font-size:7px;
	color:#0000AA;
	text-align:center;
	vertical-align:middle;
	text-decoration:none;
}

td
{
 	font-family:Verdana;
	font-weight:bold;
	font-size:7px;
}
th
{
 	font-family:Verdana;
	font-weight:bold;
	font-size:7px;
	text-align:center;
}
.txtNormal
{
	font-family:Verdana; 
	font-weight:normal;
	font-size:7px;
}
.label
{
	font-family:Verdana;
	font-weight:bold;
	font-size:7px;
	text-align:right;
}
.errorLabel
{
	font-family:Verdana;
	font-weight:bold;
	font-size:9px;
	text-align:right;
	background-color:Red;
	color:White;
}
.warningLabel
{
	font-family:Verdana;
	font-weight:bold;
	font-size:9px;
	text-align:right;
	background-color:Yellow;
	color:Black;
}
.ReadOnly
{
	color:#16204b;
	background-color:#DeDeF7;
	border:solid 1px #999999;
}
.textValidator
{
	font-family:Verdana;
	font-weight:bold;
	font-size:7px;
	color:Red;	
}
.textbox
{
	font-family:Verdana;
	font-weight:normal;
	font-size:7px;
}
.tituloMenu
{
	font-family:Verdana;
	font-weight:bold;
	font-size:15px;
	text-align:center;
	color:#000000;
}
.tituloListagem
{
	background-color:#99CCFF;
	font-family:Verdana;
	font-weight:bold;
	font-size:9px;
	color:#00008B;
	text-align:center;
	text-decoration:none;
}
.tituloGrande
{
	font-family:Verdana;
	font-weight:bold;
	font-size:13px;
	text-align:center;
}
.titulo
{
	font-family:Verdana;
	font-weight:bold;
	font-size:11px;
	text-align:center;
}
.titulo_peq
{
	font-family:Verdana;
	font-weight:bold;
	font-size:9px;
	text-align:center;
}
.table
{
	width:100%;
	border:0;
	padding:5pt;	
}
.ListRow
{
	background-color: #DeDeF7;
}
.ListRow:hover
{
	background-color: #99CCFF;
}
.PrintListRow
{
	border-bottom: dashed 1px #AAAAAA;
	font-size:6pt;
}
.PrintListcolumn
{
	border-right: dashed 1px #DDDDDD;
}
.AlternateListRow
{
	/*background-color:#DeDeF7;*/
	background-color:#C0C0E0;
}
.AlternateListRow:hover
{
	background-color: #99CCFF;
}
.backColor
{
	background-color:#f0f0f0;
	background:#f0f0f0;
}
.tituloBarra
{
	background-color: #00008B;
	color:White;
}
.cell
{
	border-right:solid black 1px;
	border-top:solid black 1px;
	border-left:solid black 1px;
	border-bottom:solid black 1px; 
	border-collapse:collapse;	
}
.INSERTED_BACK
{
	background-color: #FFFF88;
}
.VALID_BACK
{
	background-color: #99FF99;
}
.IMPORTED_BACK
{
	background-color: #66ccff;
}
.TERMINATED_BACK
{
	background-color: #FF9999;
}
.INSERTED_FRONT
{
	font-size:9px;
	font-weight:normal;
	color:#FF9900;
}
.VALID_FRONT
{
	font-size:9px;
	font-weight:normal;
	color:Green
}
.IMPORTED_FRONT
{
	font-size:9px;
	font-weight:normal;
	color:Blue;
}
.TERMINATED_FRONT
{
	font-size:9px;
	font-weight:normal;
	color:Red;
}
.INSERTED_FRONT:hover
{
	font-weight:bold;
}
.VALID_FRONT:hover
{
	font-weight:bold;
}
.IMPORTED_FRONT:hover
{
	font-weight:bold;
}
.TERMINATED_FRONT:hover
{
	font-weight:bold;
}
.NORMAL_FRONT
{
	font-size:9px;
	font-weight:normal;
}
#progressBackgroundFilter
{
   position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  width: 200%;
  height: 200%;
  padding: 0;
  margin: 0;
  background-color: #000;
  filter: alpha(opacity=20);
  opacity: 0.2;
  z-index: 1000;
}


