@media screen
{
	.easyMenu
	{
		border: 1px solid silver;
		background-color: #FFFFFF;
		padding: 1px;
	}
	
	.easyMenuItemContainer
	{
	}

	.easyMenuItem
	{
		cursor: auto; cursor: pointer;
		height: 20px;
		padding: 0px;
	}
	
	.easyMenuItem a
	{
		cursor: auto; cursor: pointer;
		text-decoration: none;
	}

	.easyMenuItemIconCell
	{
		text-align: center;
		width: 22px;
	}

	.easyMenuItemIconCell a
	{
		color: Black;
		cursor: auto; cursor: pointer;
		font-family: Tahoma;
		font-size: 11px;
		text-decoration: none;
	}

	.easyMenuItemContentCell
	{
		font-family: Tahoma;
		font-size: 11px;
		white-space: nowrap;
	}

	.easyMenuItemContentCell a
	{
		color: Black;
		font-family: Tahoma;
		font-size: 11px;
		text-decoration: none;
		white-space: nowrap;
	}

	.easyMenuItemOver
	{
		cursor: auto; cursor: pointer;
		background-color: #BBBBBB;
		height: 20px;
		padding: 0px;
	}
	
	.easyMenuItemOver a
	{
		cursor: auto; cursor: pointer;
		text-decoration: none;
	}

	.easyMenuItemIconCellOver
	{
		text-align: center;
		width: 22px;
	}

	.easyMenuItemIconCellOver a
	{
		color: Black;
		cursor: auto; cursor: pointer;
		font-family: Tahoma;
		font-size: 11px;
		text-decoration: none;
	}

	.easyMenuItemContentCellOver
	{
		font-family: Tahoma;
		font-size: 11px;
		white-space: nowrap;
	}

	.easyMenuItemContentCellOver a
	{
		color: Black;
		font-family: Tahoma;
		font-size: 11px;
		text-decoration: none;
		white-space: nowrap;
	}

	.easyMenuSeparator
	{
		height: 3px;
		font-size: 1px;
		color: Silver;
	}
	
	.easyMenuSeparatorIconCell
	{
		text-align: center;
		height: 3px;
		width: 22px;
		font-size: 1px;
		background-image: url(bg_separator.gif);
		background-repeat: repeat-x;
		background-position: 0px 1px;
	}
	
	.easyMenuSeparatorContentCell
	{
		height: 3px;
		font-size: 1px;
		background-image: url(bg_separator.gif);
		background-repeat: repeat-x;
		background-position: 0px 1px;
	}

	.easyMenuSeparatorOver
	{
		height: 3px;
		font-size: 1px;
		color: Silver;
	}

	.easyMenuSeparatorIconCellOver
	{
		text-align: center;
		height: 3px;
		width: 22px;
		font-size: 1px;
		background-image: url(bg_separator.gif);
		background-repeat: repeat-x;
		background-position: 0px 1px;
	}
	
	.easyMenuSeparatorContentCellOver
	{
		height: 3px;
		font-size: 1px;
		background-image: url(bg_separator.gif);
		background-repeat: repeat-x;
		background-position: 0px 1px;
	}


	.easyMenuItemSubMenuCell
	{
		width: 10px;
		padding-top: 2px;
		background-image: url(submenu.gif);
		background-repeat: no-repeat;
		background-position: 2px 4px;
		font-family: Verdana;
		font-size: 1px;
		height:14px;
	}
	
	.easyMenuItemSubMenuCellOver
	{
		width: 10px;
		padding-top: 2px;
		background-image: url(submenu.gif);
		background-repeat: no-repeat;
		background-position: 2px 4px;
		font-family: Verdana;
		font-size: 1px;
		height:14px;
	}

	/* do not change these classes */
	.menuContainerIframeUnderlay
	{
		border: 0px;
		position : absolute; 
		visibility : hidden; 
		top : -2000px;
		left : 0px; 
		filter : "progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)"; 
		filter : "Alpha(Opacity='0')";
		opacity : 0;
		--moz-opacity : 0;

		background-color: White;
	}
	#ob_em_mc
	{
		width: 100%;
		height: 100%;
		border-collapse: separate;
		border-spacing: expression(cellSpacing=0);
		border-spacing: 0px;
	}
	#ob_em_mc td
	{
		padding-left: 5px;
		text-align:left;
		width:1px;
	}
	/* do not change these classes */
}

@media print
{
	.menuContainerIframeUnderlay
	{
		display: none;
	}	
}