﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucPageTitle.ascx.cs" Inherits="SpiritucSI.Unilever.SRA.WF.WebSite.UserControls.Common.ucPageTitle" %>
<div class="Title"><div class="Txt"><h2><%=this.Title%></h2></div></div>