﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucTitle.ascx.cs" Inherits="SpiritucSI.Unilever.SRA.WF.WebSite.UserControls.Common.ucTitle" %>
<div class="Title"><div class="Img"><asp:Image ID="TitleIconImage" runat="server" ImageUrl="~/images/grey_icons/folder.gif" /></div><div class="Txt"><h2><%=this.Title %></h2></div></div>